/* Background Your Result */
$your_resultBG: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

/* Background Circle */
$cirlceBG: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
/* Summary Background */
$reactionBG: hsla(0, 58%, 76%, 0.15);
$memoryBG: hsla(39, 58%, 77%, 0.15);
$verbalBG: hsla(166, 28%, 69%, 0.15);
$visualBG: hsla(234, 43%, 60%, 0.15);
/* Summary Color */
$reactionTX: hsl(0, 62%, 65%);
$memoryTX: hsl(39, 71%, 67%);
$verbalTX: hsl(166, 100%, 37%);
$visualTX: hsl(234, 85%, 45%);